<section class="container">
  <div class="max-width">
    <!--    you can way submit form onsubmit method and click method-->
    <div class="row">
      <form class="form-main shadow" #userForm="ngForm">
        <div class="form-group">
          <label>Name address</label>
          <input type="email" class="form-control" name="name" placeholder="Enter Name" ngModel #name='ngModel'>
          <!--`#` is used for mking variable for those field. and those variable applied on below line or validation-->
          <small class="text-danger" *ngIf="!name.valid && email.touched">Please enter name</small>
        </div>
        <div class="form-group">
          <label>Email address</label>
          <input type="email" class="form-control" name="email" placeholder="Enter email" email ngModel required
                 #email='ngModel'>
          <small class="text-danger" *ngIf="!email.valid &&email.touched">Please enter Email</small>
        </div>
        <div class="form-group">
          <label>Mobile Number</label>
          <input type="number" class="form-control" name="mobile" placeholder="Enter Mobile Number" ngModel required>
        </div>
        <div class="form-group">
          <label>Password</label>
          <input type="password" class="form-control" name="password" placeholder="Password" ngModel required>
        </div>
        <div class="form-group">
        </div>
        <button class="btn btn-primary" [disabled]="!userForm.valid" (click)="userSignup(userForm)">Submit</button>
      </form>
    </div>
  </div>
</section>

